body{
    margin-right: 15px;
}
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  } 
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 4rem;
    font-size: 1.5em;
    padding-top: 50px;
    
  }
  
  .sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
  }
  
  .sidebar-nav li a {
    color:#EBEBEB;
    display: block;
    text-decoration: none;
    padding-left: 60px;
    text-align: center;
    line-height: 3rem;
    font-weight: 200;
  }
  .sidebar-nav li a:hover{
      color: white;
  }
 .contact{
    padding-left: 50px;
 }
 .about{
     padding-left: 60px;
 }
.dp{
    border-radius: 80%;
  border: 1px solid rgba(0,0,0,0.0);
  margin-top: 140px;
}
.first{
    margin-top: 110px;
}
.myself{
    margin-top: 20px;
}
.row{
    background: url(background.jpg);
    font-family: 'Roboto Mono', monospace;
    line-height: 2rem;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 100px;
    padding-bottom: 150px;
}